.max-width {
    box-sizing: border-box;
    max-width: 1164px;
    width: 100%;
    margin: 48px auto;
    padding: 0 12px;
}

.title-section {
    font-size: 3.2rem;
}

.span-subtitle {
    font-size: 2rem;
    font-weight: 500;
}

/* SEÇÃO 1 */

.section1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: calc(100vh - 189px);
    padding: 5rem 12px;
    margin-bottom: 48px;
}

.section1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(https://raw.githubusercontent.com/PauloAdson/aula-de-teclado-e-violao/refs/heads/main/src/assets/images/background-main.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

div.section1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: var(--cor-secundaria);
    text-align: center;
}

.section1_content h1 {
    font-family: var(--font2);
    font-size: 4rem;
    line-height: 82px;
    letter-spacing: 12px;
}

.section1_content p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 42px;
}

.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 322px;
    height: 66px;

    border-radius: 40px;
    font-size: 2rem;
    font-weight: 700;
    transition: 500ms;
}

.section1 a.btn-action {
    background-color: var(--cor-terciaria-escuro);
    color: var(--cor-secundaria);
}

.section1 a.btn-action:hover {
    background-color: var(--cor-terciaria);
}

/* SOBRE: SEÇÃO 2 E 3 */
.mobile {
    display: none;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 546px;
    width: 100%;
}

.sobre-paragrafo {
    line-height: 42px;
}

.img-sobre {
    max-width: 465px;
    width: 100%;
}

/* SEÇÃO 4 BENEFICIOS */

section.section4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

div.container_beneficios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.section4 a.btn-action {
    background-color: var(--cor-terciaria-escuro);
    color: var(--cor-secundaria);
}

.section4 a.btn-action:hover {
    background-color: var(--cor-terciaria);
}

@media screen and (max-width: 1036px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .section1 {
        height: auto;
    }

    .section1_content h1 {
        line-height: 62px;
        font-size: 3rem;
    }

    .sobre {
        justify-content: center;
        text-align: center;
        gap: 24px;
    }

    .sobre-text {
        align-items: center;
    }

    .img-sobre {
        max-width: 300px;
        width: 100%;
    }

    .img-sobre img {
        width: 100%;
    }
}